<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="FileMonitorDirectory" value="E:\Temp" />
    <!--分析日期,格式:yyyy-MM-dd,不指定的话默认为分析当前前一天-->

    <add key="AreaDate" value="2012-12-18" />
    <!--分析开始时间 格式00:00-->
    <add key="AreaStartTime" value="07:00" />
    <!--分析结束时间 格式00:00-->
    <add key="AreaEndTime" value="20:00" />
    <!--分析的分析组ID,如果配置为0表示分析全部分析组-->
    <add key="AreaGroupID" value="0" />
    <!--线程数-->
    <add key="TheadCount" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="OtherConnectionString" connectionString="server=172.31.6.52;database=SJZ_Track;uid=ycdev;pwd=ycdev;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>
    <add name="DataConnectionString" connectionString="server=172.31.6.52;database=ET_SJZ_JP;uid=ycdev;pwd=ycdev;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>
    <!--<add name="GPSDBConnetionstring" connectionString="server=172.31.6.196;database=TESTDB4222;uid=ycdev;pwd=ycdev;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>-->
    <add name="GPSDBConnetionstring" connectionString="server=192.168.2.16;database=HB_JP_GPSDB;uid=sa;pwd=sa;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
