<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="FileMonitorDirectory" value="E:\Temp" />
  </appSettings>
  <connectionStrings>
    <add name="OtherConnectionString" connectionString="server=192.168.2.16;database=SJZ_Track;uid=sa;pwd=sa;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>
    <add name="DataConnectionString" connectionString="server=192.168.2.16;database=ET_SJZ_JP;uid=sa;pwd=sa;pooling=true;max pool size=200;min pool size=1;timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>